<h1>Students</h1>

<% for student in @students %>
  <p><%= student.name %> - <%= student.email %></p>
<% end %>


<h2>Please enter your name and email. Have
fun!</h2>

<form action="/" method="post" accept-charset="utf-8">
<input type="text" name="name" value="Name ..."
id="name">
<input type="text" name="email" value="Email.." id="email">
<input type="submit" value=".. add it!">
</form>