



<h1>Change requests</h1>

<% for student in @students %>
  <p><%= student.name %></p> - <p><%= student.email %></p>
<% end %>


<p>Please enter your name and change request. Have
fun!</p>

<form action="/" method="post" accept-charset="utf-8">
<input type="text" name="name" value="Name ..."
id="name">
<input type="text" name="email" value="Change request.." id="email">
<input type="submit" value=".. add it!">
</form>